#what .items .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#what .items .item div {
  text-align: left;
  padding-left: 1rem;
}

#what .items .item i {
  padding: 1rem;
  background: #93cb52;
  border-radius: 50%;
  margin-bottom: 0;
}



